.container {
  width: 100%;
  height: max-content;
  min-height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.header {
  width: 100%;
  height: max-content;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.page_details {
  min-width: 80%;
}

.page_details > :first-child {
  font-size: large;
  font-weight: 600;
}

.page_details > :last-child {
  color: #777777;
  font-size: small;
  font-weight: 500;
}

.header button {
  height: 40px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  flex: 1;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav_container {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.nav_main {
  margin: 0px;
}
.nav_main > div {
  height: 30px;
}

.nav_main > span {
  top: 29px;

  /* width: 100%; */
}

.table_selected {
  width: 100%;
  padding-top: 20px;
  overflow-x: scroll;
}
