.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.table_heading {
  color: #000000;
  font-size: large;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 100%;
}

.table_body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(max-content, 1fr);
  overflow-x: auto;
  text-wrap: nowrap;
}

.table_body::-webkit-scrollbar {
  display: none;
  /* transition: all ease 3s; */
}

.table_body:hover::-webkit-scrollbar {
  display: block;
}

.table_column {
  min-width: 100px;
  text-align: center;
}

/* targeting all the divs inside each column */
.table_column > div {
  width: 100%;
  min-width: fit-content;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #eeeeee;
  color: #383838;
  font-size: small;
  font-weight: 400;
}

/* targeting the first div of each column . These are the Fields */
.table_column > div:first-child {
  height: 40px;
  line-height: 40px;
  background-color: #fafafa;
  color: #666666;
  font-weight: 500;
}

/* targeting all the values inside the first table column only */
.table_column:first-child > div {
  text-align: start;
  border-top-left-radius: 3px;
}

/* targeting all the values inside the last table column only */
.table_column:last-child > div {
  border-top-right-radius: 3px;
}
