.container {
  width: 230px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.page_Name {
  width: 100%;
  color: #999999;
  padding-left: 20px;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
