.container {
  min-width: 100vw;
  height: 60px; /* that should be responsive later*/
  position: fixed;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px 0 rgba(0, 21, 41, 0.12);
}

.container_alignments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.section_left {
  display: flex;
  align-items: center;
}

.brand_name {
  margin-left: 8px;
  color: #002140;
  font-size: medium;
  font-weight: 700;
  text-wrap: nowrap;
}

.page_nav {
  margin-left: 50px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.page_nav_options {
  text-wrap: nowrap;
  font-size: smaller;
}

.page_nav_options:hover {
  color: #4580ff;
}

.page_nav_selection {
  height: 3px;
  width: 25px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: #4580ff;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.section_right {
  /* display: flex; */
  text-align: center;
}

.fake_container {
  position: static !important;
  box-shadow: none !important;
  visibility: hidden; /* keep it hidden in desktop view */
}
