.search_box {
  height: 30px;
  border: 2px solid #cccccc;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 5px 0px 5px;
}

.search_input {
  width: 150px;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
}

.search_icon {
  width: 20px;
  height: 20px;
}
