.search_box {
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 5px 0px 5px;
}

.search_input {
  width: 80px;
  background-color: inherit;
  color: #5E5E5E;
  border: none;
  outline: none;
  transition: width ease-in 0.25s;
}

.search_input:focus {
  width: 150px;
}

