.container {
  display: flex;
  align-items: center;
}

.search_box {
  width: 200px;
  height: 30px;
  border: 2px solid #cccccc;
  border-radius: 10px;
}

.search_icon {
  width: 20px;
  height: 20px;
}
